<h1>dish details</h1>

<h2><%= @dish['name'] %></h2>

<h4><%= @dish.dish_type_name %></h4>

<img src="<%= @dish['image_url'] %>" alt="">

<a href="/dishes/<%= @dish['id'] %>/edit">edit</a>

<form action="/dishes/<%= @dish['id'] %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>delete</button>
</form>

<form action="/comments" method="post">
  <input type="hidden" name="dish_id" value="<%= @dish['id'] %>">
  <label for="">comment</label>
  <textarea name="body"></textarea>
  <button>post</button>
</form>

<% @comments.each do |comment| %>

  <p><%= comment['body'] %></p>

<% end %>