<h2>edit dish</h2>

<form action="/dishes/<%= @dish['id'] %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="">name</label>
  <input type="text" name="name" value="<%= @dish['name'] %>">
  <label for="">image url</label>
  <input type="text" name="image_url" value="<%= @dish['image_url'] %>">

  <select name="dish_type_id" id="">
    <% @dish_types.each do |dish_type| %>
      <option value="<%= dish_type.id %>"><%= dish_type.name %></option>
    <% end %>
  </select>

  <button>update</button>
</form>